html
{
    background: #1e1e1e
}
.main-div
{
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 98vh;
}
.video-div
{
    display: flex;
    background: black;
    width: 1280px;
    height: 720px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid;
    overflow: hidden;
}
.video-div:hover .controls
{
    transform: translateY(0);
}
.controls
{
    display: inline-block;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 1280px;
    height: 55px;
    transform: translateY(49px);
    transition: all 0.2s;
}
button
{
   background: none;
   border: 0;
   cursor: pointer;
   outline: 0;
}
i
{
    font-size: 24px;
    color: blanchedalmond;
}
#volume-slider
{
    width: 150px;
}
.bar
{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #1e1e1e;
}
.progress-bar, .volume-bar
{
    -webkit-appearance: none;
    appearance: none;
    height: 12.5px;
    width: 100%;
    margin-left: -0.5px;
    background: #1e1e1e;
    overflow: hidden;
    outline: none;
}
.volume-bar
{
    border: 1px solid blanchedalmond;
}
.progress-bar:hover
{
    cursor: pointer;
}
.volume-bar:hover
{
    cursor: pointer;
}
.progress-bar::-webkit-slider-thumb, .volume-bar::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: blanchedalmond;
    cursor: pointer;
    box-shadow: -720px 0 0 720px blanchedalmond;
}
video::-webkit-media-controls {
    display:none !important;
}
p
{
    font-size: 11px;
    font-weight: bold;
    color: blanchedalmond;
    border: blanchedalmond 3px solid;
    padding: 3px;
    width: 29px;
}
.buttons
{
    display: flex;
    justify-content: space-between;
}
#left
{
    display: flex;
    align-items: center;
}
#right
{
    display: flex;
    align-items: center;
}
#btn-play-pause, #btn-mute-unmute
{
    padding-left: 15px; 
}
#btn-fullscreen, #btn-wide-format, #btn-standard-format, #btn-resolution
{
    padding-right: 15px;
}
#volume-slider
{
    padding-left: 5px;
}
#res-div
{
    display: none;
    position: absolute;
    background: rgba(255, 235, 205, 0.7);
    width: 70px;
    height: 50px;
    left: 1045px;
    top: 607px;
    border: 2px solid black;
}
#btn-720, #btn-480
{
    width: 100%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
#btn-480
{
    border-top: 2px solid black;
}
.video
{
    border: 1px solid black;
}
i:hover
{
    color: rgb(126, 123, 119);
    transform: scale(1.25);
}
#w
{
    transform: scale(1.25);
}
p:hover
{
    border-color: rgb(126, 123, 119);
    color: rgb(126, 123, 119);
}